article
    h4.small-dark-title A la une
    .lead Suterw <span class="text-muted">  | pelsnf le 11/14/14</span>
    h2 Lorem Ipsum Dolor

    p.text-muted Поскольку в СССР (с 30-х годов) было запрещено использовать мат в общедоступной литературе и СМИ (прямо об этом ни один из законов не гласил, но исполнялось неукоснительно), то в текстах слово «хуй», производные и выражения с ними — подвергались цензуре: «вымарывались» (полное удаление или подстановка многоточия «…»).

    +tagblock()

hr

article
    .row
        .col-sm-6
            .small-dark-title A la une

        .col-sm-6
            a(href="") Questo de mous
            span.text-muted | peile 11/14/14

    h2 Lorem Ipsum Dolor

    p.text-muted Поскольку в СССР (с 30-х годов) было запрещено использовать мат в общедоступной литературе и СМИ (прямо об этом ни один из законов не гласил, но исполнялось неукоснительно), то в текстах слово «хуй», производные и выражения с ними — подвергались цензуре: «вымарывались» (полное удаление или подстановка многоточия «…»).

    +tagblock()

hr

article
    strong Suteres <span class="text-muted"> | publes 12/24/14</span>

    h2 Mollit anim id est laborum

    p: img.flex(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=460%C3%97250&w=460&h=250" )
    p.text-muted Поскольку в СССР (с 30-х годов) было запрещено использовать мат в общедоступной литературе и СМИ (прямо об этом ни один из законов не гласил, но исполнялось неукоснительно), то в текстах слово «хуй».

    +tagblock()

hr

article
    strong Suteres <span class="text-muted"> | publes 12/24/14</span>

    h2 Jenny's got a gun

    p.text-muted Поскольку в СССР (с 30-х годов) было запрещено использовать мат в общедоступной литературе и СМИ (прямо об этом ни один из законов не гласил, но исполнялось неукоснительно), то в текстах слово «хуй».

    +tagblock()